@import "./_reset";
@import "./_constants";

.container {
  max-width: 1110px;
  margin: 0 45px 0 45px;
  margin: 0 auto;
}

.btn {
  padding: 12px 26px;
  border: 2px solid $accent;
  background: none;
  border-radius: 40px;
  font-size: 14px;
  color: #000;
  line-height: 16.4px;
  cursor: pointer;
  &:hover {
    color: $accent;
  }
}
// HEADER

.header {
  border-bottom: 1px solid $grey;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $grey;
  width: 100%;
  height: 50px;
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__item {
  margin-right: 30px;
  a {
    text-decoration: none;
    color: $dark;
    font-size: 14px;
    line-height: 17px;
  }
}
.header__subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-decoration: none;

    span {
      color: $accent;
      letter-spacing: 4px;
      margin: left 20px;
    }
  }
}

.tel {
  display: flex;
  align-items: center;
  p {
    font-size: 16px;
    line-height: 19px;
    color: #000;
    padding-right: 40px;
  }
}

//SUMMARY

.summary {
  .nav {
    background-color: #fff;
    height: 79px;
    &__item:hover {
      border-bottom: 1px solid $accent;
    }
    a {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

.summary__service {
   height: 604px;
  display: flex;
  align-items: center;
}

.summary__block {
  background-image: url(./img/bg-main.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 604px;
}

.summary__about {
  width: 308px;

  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    color: #fff;
  }
  p {
    padding: 40px 0 50px 0;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }
  .btn {
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 0.05em;
    padding: 12px 46px;
    &:hover {
      background: #94d38e;
    }
  }
}

// MAIN
.offers {
  background-color: $grey;
  h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 80px 0 38px 0;
  }
  &__items {
    width: calc((100% - 2.7%) / 2);
    background-color: $accent;
    display: flex;
    height: 212px;
    align-items: center;
  }
}

.offers__item {
  padding: 35px 65px 35px 40px;
  width: 250px;
  h3 {
    color: #fff;
    padding: 0 0 25px 0;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
  }
  p {
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 25px;
  }
  input {
    border: none;
    width: 225px;
    outline: none;
    height: 35px;
    border-radius: 30px;
    padding-left: 24px;
    &::placeholder {
      color: #c4c4c4;
      font-size: 14px;
    }
  }
  .btn {
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 0.05em;
    padding: 12px 26px;
    &:hover {
      color: #fff;
      background: #94d38e;
    }
  }
}

.offers__products {
  display: flex;
  justify-content: space-between;
}
.offers__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  text-align: center;
  width: 255px;
  img {
    padding: 25px 0 20px 0;
  }
  p {
    width: 195px;
  }
  h3 {
    padding-top: 20px;
    font-weight: 600;
    font-size: 21px;
    padding-bottom: 20px;
    color: #000;
  }
  .offers__btn {
    margin-bottom: 25px;
    padding: 9px 40px;
    border: none;
    background: $accent;
    border-radius: 40px;
    font-size: 14px;
    color: #fff;
    line-height: 16.4px;
    cursor: pointer;

    &:hover {
      background: #94d38e;
    }
  }
}
.offers__promotion {
  padding: 100px 0 132px 0;
  display: flex;
  justify-content: space-between;
}

//FOOTER

.footer {
  &__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    > p {
      font-size: 14px;
      line-height: 16px;
      color: #000;
    }
  }
}

.social_icons {
  display: flex;
  a {
    display: block;
    height: 45px;
    width: 45px;
    border: 2px solid $accent;
    border-radius: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    &:hover {
      background: #defcdc;
    }
  }
}

.privacy {
  background-color: $grey;
}
.privacy__footer {
  display: flex;
  align-items: center;
  height: 64px;
  justify-content: space-between;
  p {
    color: #828282;
    font-size: 12px;
  }
}
